@use "../node_modules/bootstrap/scss/bootstrap" with (
  $primary: #6E07F3,
  $secondary: #5BE9B9,
  $danger: #141C3A
);

.negative-margin-top {
  position: relative;
  top: -100px;
}

.negative-margin-bottom {
  position: relative;
  bottom: -90px;
}

.negative-margin-top-img {
  position: relative;
  top: -90px;
}

.card-large {
  min-height: 200px;
  min-width: 350px;
  padding: 1.5rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .card-large {
    width: 90% !important;
  }
}

