



.negative-margin-top {
  position: relative;
  top: -100px;
}
.negative-margin-bottom {
  position: relative;
  bottom: -50px;
}
.negative-margin-top-img {
  position: relative;
  top: -90px;
}


.card-large {
  min-height: 200px;   
  min-width: 350px;     
  padding: 1.5rem;          
  font-size: 1rem;           
  display: flex;
  flex-direction: column;
  justify-content: center;   
}


@media (max-width: 768px) {
  .card-large {
    width: 90% !important;
  }
}

